.dashboard{
	background: #ececec;
	font-size: 16px;
}

.logo img{
	width: 60%;
}
.logo{
	display:inline-block;
}
.logo figcaption{
	color: #7c7c7c;
	display:inline-block;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.25em;
	text-transform: uppercase;
}
.dropdown a{
	color: #087f8f;
	font-size: 0.875em;
}
.infouser{
	display: inline-block;
	margin-top: 20px;
	text-align: center;
}
.logout{
	color: #9e9e9e;
	font-size: 0.875em;
	margin-left: 10px;
}

.logout, .dropdown, .icon-arrow-down, .logocomercio, .logocomercio figure, .logocomercio aside, .infodata, .datosgraf, nav.menuprincipal, .contenido {
	display:inline-block;
	vertical-align: top;
}
.icon-arrow-down{
	vertical-align: middle;
}

.dropdown-menu li.items{
	padding: 0 ;
}
.user{
 	background: #13d0ca;
 	border-radius: 50px;
 	display: inline-block;
 	height: 50px;
 	margin: 0 auto;
 	overflow: hidden;
 	vertical-align: middle;
 	text-align: center;
 	width: 50px;
}
.funciones aside{
	color: #696969;
	font-size: 1em;
	display: inline-block;
	vertical-align: middle;
}
.icondefault{
	color: #fff;
	font-size:30px;
	margin-top: 8px;
}
.import_info{
	background: #0baec4 url(../images/linesdiag_bg.png);
}
.infocomercio{
	padding: 20px 10px;
}
.logocomercio{
	margin-right: 8%;
}
.logocomercio figure{
	border-radius: 10px;
	height: 80px;
	overflow: hidden;
	position: relative;
	width: 80px;
}
.logocomercio figure a div.edit{
	color:#ececec;
	background: rgba(0,0,0,0.5);
	height:80px;
	font-size: 0.87em;
	left: 0;
	padding-top: 20px;
	position: absolute;
	text-align: center;
	top:-80px;
	width: 80px; 
	-webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
}
.logocomercio figure:hover a div.edit{
	top:0;
}
.icon-pencil{
	color: #ececec;
}
.logocomercio aside{
	color: #ececec;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.875em;
	line-height: 24px;
	margin-left: 10px;
}
.logocomercio aside strong{
	font-size: 1.125em;
	font-weight: normal;
}
.logocomercio aside a{
	color: #ececec;
}
.infodata{
	height: 80px;
	position: relative;
	width: 250px;
}
.infodata .icons{
	border: 3px solid #ececec;
	border-radius: 50px;
	font-size: 40px;
	height: 80px;
	padding-top: 15px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 80px;
	z-index: 2;
}
.infodata .datostat{
	color: #696969;
	background: #ececec;
	border-radius: 7px;
	font-size: 0.87em;
	height: 60px;
	left: 40px;
	line-height: 18px;
	overflow: hidden;
	padding:10px 10px 5px 50px;
	position: absolute;
	top: 10px;
	width: 200px;
	z-index: 1;
}
.infodata .datostat strong{
	font-size: 1.75em;
}
.infodata:nth-last-child(1) .datostat{
	padding-top:20px;
}
.icon-stats{
	color: #ececec;
	background: #8fd200;
}
.icon-star{
	color: #ececec;
	background: #ed7800;
}
footer{
	background: #f6f6f6;
}
section[role="help"]{
	background: #00abb9;
	padding: 10px 0;
}
.politicas, .socialmedia{
	text-align: center;
}
.politicas{
	color: #828282;
	font-size: 0.75em;
	margin: 20px 0 10px 0;
}
.politicas a{
	color: #087f8f;
}
.politicas a:hover{
	color: #333;
}
.socialmedia{
	margin-bottom: 15px;
}
.socialmedia a{
	color: #087f8f;
	font-size: 1.6em;
}
.socialmedia a:hover{
	color: #333;
	text-decoration: none;
}
.helpdesk{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.125em;
}
.helpdesk p.texthelp{
	display: inline-block;
	line-height: 26px;
	margin-left: 2%;
	vertical-align: top;
	width: 60%;
}
.helpdesk p strong{
	font-size: 1.5em;
}
.destacar{
	display: inline-block;
	font-family: arial, helvetica, sans-serif;
	font-size: 1.8em;
}
section[role="content"]{
	padding: 2% 0;
}
nav.menuprincipal{
	border: #dadada 1px solid;
	border-radius: 10px;
	background: #f6f6f6;
	padding:10px 5px;
	width:12.5;
}
.menuprincipal ul{
	list-style: none;
	margin: 0;
	padding:0;
}
.menuprincipal li{
	border-bottom: 1px solid #dadada;
}
.menuprincipal li:nth-last-child(1){
	border-bottom: none;
}
.menuprincipal li a{
	color: #8f8f8f;
	display: block;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.875em;
	letter-spacing: -0.02em;
	padding: 7px 5px;
	transition: all 0.5s;
	width: 100%;
}
.menuprincipal li a:hover{
	background: #fff;
	color: #087f8f;
	text-decoration: none;
}
.menuprincipal li a div{
	display: inline-block;
	font-size: 1.5em;
	margin-right: 20px;
}
.menudesp{
	display: none;
}
.icomenu{
	font-size: 1.8em;
	margin-right:  20px;
	padding: 0;
}
.droprincipal{
	padding: 10px 5px;
}
.droprincipal li a{
	font-size: 1.2em;
}

/*contenido*/
.contenido{
	margin: 0 1% 50px 5%;
	width: 70%;
}
/*.datainfo{
	border: #dadada 1px solid;
	border-radius: 10px;
	background: #f6f6f6;
	padding:10px 5px;
	width: 95%;
}*/
.contenido h1{
	color: #696969;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.125em;
	font-weight: bold;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	padding: 0;
}
.contenido p{
	color: #696969;
	font-size: 0.875em;
}
.contenido fieldset{
	display: block;
	border: #dadada 1px solid;
	border-radius: 10px;
	background: #f6f6f6;
	margin: 20px 0;
	padding:10px 15px 25px 35px;
	position: relative;
	width: 100%;
}
.contenido fieldset a.edit{
	color: #2c2c2c;
	font-size:1.2em;
	position: absolute;
	right: 10px;
	top:10px;
}
.contenido h2{
	color: #087f8f;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.875em;
	font-weight: bold;
	margin: 10px 0 25px 0;
	padding: 0;
}
.contenido h2 div.icon-cog{
	color: #fff;
	background: #087f8f;
	border-radius: 40px;
	display: inline-block;
	font-size: 0.8em;
	height: 45px;
	padding-top: 12px;
	text-align: center;
	vertical-align: middle;
	width: 45px;
}
.contenido fieldset section label{
	color: #444444;
	font-size: 0.81em;
	font-weight: normal;
	display: inline-block;
	line-height: 25px;
	margin-right: 2%;
	text-align: right;
	vertical-align: top;
	width: 135px;
}
.contenido fieldset a{
	color: #087f8f;
	font-size: 0.875em;
}
.contenido fieldset .campo{
	color:#666;
	display: inline-block;
	font-size: 0.875em;
	vertical-align: middle;
}
@media all and (min-width:20em) and (max-width: 48em){
	.pagedash{
		margin: 0 auto;
		width: 95%;
	}
	.logo{
		display: block;
		margin: 10px auto;
		text-align: center;
		width: 60%;
	}
	.logo figcaption{
		display: block;
		margin: 0 auto;
	}
	.logo img{
		width: 100%;
	}
	.infouser{
		display: block;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.datosgraf{
		display: block;
		margin: 10px auto;
	}
	.infodata{
		margin: 10px 0;
	}
	 .helpdesk p.texthelp, .destacar{
	 	text-align: center;
	 	width: 90%;
	 }
	 .logocomercio{
	 	display: block;
	 	margin: 0 auto;
	 	width: 70%;
	 }
	 .datosgraf{
	 	display: none;
	 	visibility: hidden;
	 }
	 .menudesp{
		display: block;
	}
	nav.menuprincipal{
		display: none;
	}
	.contenido{
		display: block;
		margin: 0 auto;
		width: 95%;
	}
	.datainfo{
		width: 100%;
	}

}
@media all and (min-width:48.1em) and (max-width: 62em){
	.pagedash{
		margin: 0 auto;
		width: 98%;
	}
	.logo{
		width: 50%;
	}
	.infouser{
		margin-left: 11.5%;
	}
	.contenido{
		width: 65%;
	}
}
@media all and (min-width:62.1em) and (max-width: 72.5em){
	.pagedash{
		margin: 0 auto;
		width: 98%;
	}
	.infouser{
		margin-left: 16%;
	}
}

@media all and (min-width:72.51em){
	.pagedash{
		margin: 0 auto;
		width: 1160px;
	}
	.infouser{
		margin-left: 28%;
	}

	section[role="help"]{
		width: 100%;
		/*margin-bottom:135px;*/
	}
	/*footer{
		bottom: 0;
		position: fixed;
		width: 100%;
	}*/
}